p #{t "devise.instructions.welcome"} #{@resource.email} !

p= t "devise.instructions.click_link_below_to_change_password"

p= link_to t 'devise.instructions.change_my_password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)

p= t.devise.instructions.ignore_this_if_you_didnt_request
p= t.devise.instructions.wont_change_password_until_click_link
